/dist
/node_modules
/storybook/dist
/tests/e2e/videos
/tests/e2e/screenshots
/tests/visual/**/__image_snapshots__/__diff_output__

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code is the projects recommended IDE, allow some files for easier setup
.vscode/*
!.vscode/launch.json
!.vscode/README.md
!.vscode/settings.json

# Other dev env meta dirs and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
/.vs
