$fontSizes: (
  fs-base: 14px,
  fs-1000: 10rem,
  fs-900: 5.714rem,
  fs-700: 3.429rem,
  fs-500: 2.571rem,
  fs-400: 2.143rem,
  fs-300: 1.714rem,
  fs-200: 1.429rem,
  fs-150: 1.286rem,
  fs-100: 1.143rem,
  fs-50: 0.857rem,
);

$lineHeights: (
  lh-reset: 1,
  lh-25: 1.125,
  lh-50: 1.25,
  lh-100: 1.5,
  lh-xl: 24px,
  lh-xxl: 34px,
);
